<!doctype html>
<html lang="en" ng-app="galleryApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/unslider/unslider.css">
</head>
<body ng-controller="HomeController" style="overflow: hidden">
  <nav class="navbar navbar-inverse" role="navigation">
  </nav>

  <div id="top" class="banner">
    <ul id="gallery">
      <li ng-repeat="picture in TopFive" on-last-repeat>
        <img ng-src="img/{{ picture.Url }}" alt="{{ picture.Name }}" />
      </li>
    </ul>
  </div>

  <div id="bottom">
    <div ng-repeat="painter in Painters">
      <span>{{ painter }}</span>
    </div>
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/unslider/unslider.min.js"></script>
  <script src="js/controller/controllers.js"></script>
</body>
</html>
